.NewReimbursement {
  width: 100%;
  display: flex;
}

.NewReimbursement .leftNewReimb {
  background-color: white;
  width: 50%;
  height: 800px;
  border: 1px solid gray;
}
.NewReimbursement .rightNewReimb {
  background-color: aqua;
  width: 50%;
  height: 800px;
  border: 1px gray;
  border-style: solid solid solid none;
}

.centralLabel {
  text-align: center;
}

.reimbursementTitle {
  display: block;
  text-align: center;
}
